<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732997491914-sc7if38gh8kis8kjfoo7gj1djvuo3cvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732997491914-sc7if38gh8kis8kjfoo7gj1djvuo3cvh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>732997491914-0biluu62kbdluub0842up2n5li4uc81a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBX7cM8PMrC0TlDO3YO--9OtDDKhvLiI2g</string>
	<key>GCM_SENDER_ID</key>
	<string>732997491914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waybound.travel</string>
	<key>PROJECT_ID</key>
	<string>verba-ai-98eaf</string>
	<key>STORAGE_BUCKET</key>
	<string>verba-ai-98eaf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732997491914:ios:0a67ca2683e80fa9802833</string>
</dict>
</plist>